<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Poles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Poles</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-list-header>
        Your height is {{height}} cm
      </ion-list-header>
      <ion-range min="100" max="250" [(ngModel)]="height" (ionChange)="calculate()">
        <ion-label slot="start">100</ion-label>
        <ion-label slot="end">250</ion-label>
      </ion-range>
    </ion-list>
    <ion-list>
      <ion-radio-group [(ngModel)]="factor" (ionChnage)="calculate()">
        <ion-list-header>
          Select activity
        </ion-list-header>
        <ion-item>
          <ion-label>Classical style</ion-label>
          <ion-radio value="0.82"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Free style</ion-label>
          <ion-radio value="0.89"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Nordic walk</ion-label>
          <ion-radio value="0.68"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-label>Pole height is {{result | number : '1.0-0'}} cm</ion-label>
  </div>
</ion-content>
